#experiance{
    width: 100%;
    height: 600px;
    padding: 0px 10%;
}

.lightExperiance{
    background-color: white;
}

.darkExperiance{
    background-color: #141D2F;
}

.lightExperiance h1{
    background-color: rgb(53, 16, 187);
    height: 400px;


}
.darkExperiance h1{
    color: white;
    background-color: rgb(53, 16, 187);
    height: 400px;

}

@media only screen and (max-width: 1024px) {
    #experiance{
        padding: 0px 8%;
    }
}

@media only screen and (max-width: 968px) {
    #experiance {
        padding: 0px 45px;
    }
}

@media only screen and (max-width: 500px) {
    #experiance {
        padding: 0px 66px;
    }
}
