#experince {
    width: 100%;
    padding: 0px 10%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    justify-content: center;
    /* background-color: seashell; */
}

.lightExperince {
    background-color: white;
}

.darkExperince {
    background-color: #141D2F;
}

.ExperinceContent {
    /* background-color: skyblue; */
    width: 100%;
    display: flex;
    flex-direction: column;
}

.lightExperinceTitle {
    /* background-color: rgb(170, 209, 187); */
    display: flex;
    align-items: center;
    border-bottom: solid 1px #b9c6df;
}
.darkExperinceTitle {
    /* background-color: rgb(170, 209, 187); */
    display: flex;
    align-items: center;
    border-bottom: solid 1px #141D2F;
}

#TitleDiv {
    width: 50%;
    display: flex;
    align-items: center;
    /* border-bottom: solid 1px rgb(175, 173, 173); */
}

#TitleDiv button {
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: none;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
}

.selected {
    border-bottom: solid 2px rgb(61, 47, 182);
    width: 50%;
}

.darkTitleButton{
    color: white;
}

.ExperinceContentDiv{
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
}

.lightCloseSkill {
    display: none;
}

.darkCloseSkill {
    display: none;
}

.ExperinceIconDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    width: 162px;
    height: 150px;
}

.IconImg{
    background-color: rgb(243, 243, 243);
    padding: 10px;
    box-sizing: content-box;
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.EXPIcon{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.darkIconLable{
    color: white;
}

.lightIconLable2{
    font-size: 18px;
    color: gray;
}

.darkIconLable2{
    font-size: 18px;
    color: rgb(155, 152, 152);
}

.courseImg{
    width: 400px;
    padding: 10px;
    box-sizing: content-box;
}

.CoursesIconDiv{
    background-color: rgb(243, 243, 243);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
}

.lightCourseName{
color: #909092;
}

@media only screen and (max-width: 1024px) {
    #experince {
        padding: 0px 8%;
    }
}

@media only screen and (max-width: 968px) {
    #experince {
        padding: 0px 45px;
    }
}

@media only screen and (max-width: 500px) {
    #experince {
        padding: 0px 20px;
    }

    .ExperinceContentDiv{
        gap: 20px;
        justify-content: space-between;
        padding: 20px 0px ;
    }
    .ExperinceIconDiv{
        /* background-color: rgb(82, 59, 173); */
        width: 90px;
        height: 110px;
        row-gap: 10px;
    }
    
    .IconImg{
        padding: 6px;
        width: 35px;
        height: 35px;
    }
    
    .EXPIcon{
        row-gap: 6px;
        text-align: center;
    }

    .lightIconLable{
        font-size: 14px;
    }
    
    .darkIconLable{
        font-size: 14px;
    }
    
    .lightIconLable2{
        font-size: 14px;
    }
    
    .darkIconLable2{
        font-size: 14px;
    }
    
}