#contact{
    width: 100%;
    height: 600px;
    padding: 0px 10% 100px 10%;
}

.lightContact{
    background-color: white;
}

.darkContact{
    background-color: #141D2F;
}

.lightContact h1{
    background-color: rgb(5, 102, 126);
    height: 400px;


}
.darkContact h1{
    color: white;
    background-color: rgb(5, 102, 126);
    height: 400px;

}

@media only screen and (max-width: 1024px) {
    #contact{
        padding: 0px 8% 90px 8%;
    }
}

@media only screen and (max-width: 968px) {
    #contact {
        padding: 0px 45px 70px 45px;
    }
}

@media only screen and (max-width: 500px) {
    #contact {
        padding: 0px 66px 60px 66px;
    }
}
