#projects{
    width: 100%;
    padding: 0px 10%;
}

.lightProjects{
    background-color: white;
}

.darkProjects{
    background-color: #141D2F;
}


@media only screen and (max-width: 1024px) {
    #projects{
        padding: 0px 8%;
    }
}

@media only screen and (max-width: 968px) {
    #projects {
        padding: 0px 45px;
    }
}

@media only screen and (max-width: 500px) {
    #projects {
        padding: 0px 66px;
    }
}
