.darkMoon {
    display: none;
}

.lightSun {
    display: none;
}

.darkWhite {
    display: none;
}

.lightBlack {
    display: none;
}

.lightNavbar {
    background-color: white;
    width: 100%;
    height: 50px;
    padding: 60px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
}

.darkNavbar {
    background-color: #141D2F;
    width: 100%;
    height: 50px;
    padding: 60px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
}

.lightLogo a {
    font-size: 30px;
    font-weight: 600;
    cursor: default;
}

.darkLogo a {
    font-size: 30px;
    font-weight: 600;
    cursor: default;
    color: white;
}

.lightIcons {
    width: 55%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: darkgreen;
}

.darkIcons {
    width: 55%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li {
    display: flex;
    font-size: 18px;
}

.darkList a {
    color: white;
}

.lightTheme {
    border: solid 0.5px #e6ddb9;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    -webkit-box-shadow: 0px 2px 10px -4px rgba(194,177,130,1);
-moz-box-shadow: 0px 2px 10px -4px rgba(194,177,130,1);
box-shadow: 0px 2px 10px -4px rgba(194,177,130,1);
}

.darkTheme {
    border: solid 0.5px #a1a09c;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    -webkit-box-shadow: 5px 2px 33px -11px rgba(186,183,177,1);
-moz-box-shadow: 5px 2px 33px -11px rgba(186,183,177,1);
box-shadow: 5px 2px 33px -11px rgba(186,183,177,1);
}

.lightMoon{
    width: 25px;
}

.darkSun{
    width: 20px;
}

.check {
    position: absolute;
    cursor: pointer;
    width: 35px;
    height: 35px;
    opacity: 0;
}

.check :hover {
    opacity: 1;
    background-color: black;
}


@media only screen and (max-width: 1000px) {
    .lightNavbar {
        padding: 50px 6%;
    }

    .darkNavbar {
        padding: 50px 6%;
    }

    .lightIcons {
        width: 63%;
    }

    .darkIcons {
        width: 63%;
    }
}

@media only screen and (max-width: 968px) {
    .lightNavbar {
        padding: 38px ;
    }

    .darkNavbar {
        padding: 38px;
    }

    ul {
        display: none;
    }

    .lightIcons {
        background-color: rgb(130, 139, 0);
        width: auto;
        justify-content: center;
        column-gap: 10px;
    }

    .darkIcons {
        background-color: rgb(130, 139, 0);
        width: auto;
        justify-content: center;
        column-gap: 10px;
    }

}

@media only screen and (max-width: 425px) {
    .lightNavbar {
        padding: 38px 25px;
    }

    .darkNavbar {
        padding: 38px 25px;
    }

    .lightLogo a {
        font-size: 22px;
    }
    .darkLogo a {
        font-size: 22px;
    }

    /* .lightIcons {
        width: 24%;
    } */
    /* .darkIcons {
        width: 24%;
    } */
}

@media only screen and (max-width: 375px) {
    /* .lightIcons {
        width: 27%;
    } */
    /* .darkIcons {
        width: 27%;
    } */
}

@media only screen and (max-width: 320px) {
    /* .lightIcons {
        width: 22%;
    } */

    /* .darkIcons {
        width: 22%;
    } */

    .lightTheme {
        width: 25px;
        height: 25px;
    }

    .darkTheme {
        width: 25px;
        height: 25px;
    }

    .lightTheme img,
    .lightMenu img {
        width: 15px;
        height: 15x;
    }

    .darkTheme img,
    .darkMenu img {
        width: 15px;
        height: 15x;
    }
}