.lightApp{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 60px;
}

.darkApp{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 60px;
    background-color: #141D2F;
}

/* @media only screen and (max-width: 768px) {
    .lightApp{
        padding: 60px;
    }
    .darkApp{
        padding: 60px;
    }
} */